*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main-grid{
  margin: 0 5% 0 5%;
  display:flex;
  justify-content:space-between;
}
@media (max-width:720px){
  body{
    margin:0px;
    padding:0px;
  }
  .main-grid{
    display:flex;
    flex-direction:column;
  }
  .right-division{
    margin-left:10px !important;
    margin-right:10px !important;
    width:fit-content !important;
    display:flex;
    justify-content: center !important;
    flex-direction:column;
    flex-grow:inherit
  }
  .right-division p{
    width:100%;
    text-align: center;
  }
  .left-division{
    display: none;
  }

  .mobile-division{
    display: flex !important;
    /* width:100vw; */
  }

  .mobile-division img{
    width: 100%;
  }
  
  .head-word{
    width:100% !important;

    
  }
  .right-division p{
    width: 100%;
  }
  .other-logos{
    margin: 0px 0px  
  }
}
@media (max-width:386px) {
   .head-word{
    font-size: 30px;
   }
}

.mobile-division{
  display: none;
}
.right-division{
  /* margin-top:70px;
  margin-left:100px; */
  width:300px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}
.head-word{
  font-size:30px;
  width:400px;
  flex:1;
  
}
.right-division p{
  /* font-size: px; */
  margin-bottom:60px;
  margin-top:30px;
  line-height:1.5;
  color:rgb(90, 85, 85);
}

.button{
  background-color:black;
  color:white;
  font-size:13px;
  height:35px;
  width:100px;
  border:none;
  border-radius:8px;
  margin-bottom:120px;
}
.other-logos{
  display:grid;
  grid-template-columns: 80px 60px 60px 40px;
  column-gap:40px;
  width:70px;
}
.databiz{
  width:80px;
}
.audiophile{
  width:50px;
}
.meet{
  width:60px;
}
.maker{
  width:70px;
}
.left-division{
  margin-right:0px;
  width:450px;
}
.left-image{
 width:100%;
}